*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    justify-content: space-evenly;
  }
  
  h1{
    color: rgb(34, 73, 112);
    }

  img{
    width: 275px;
  }
  
